.header {
  text-align: center;
}

ul > li {
  display: inline;
  text-decoration: none;
  margin: 10px;
}

ol > li {
  margin: 10px;
}

.day {
  border: solid 1px grey;
  display: inline-block;
  width: 12%;
  height: 160px;
}

.day > img {
  width: 50px;
  height: auto;
}

.day > p {
  margin: 8px;
}

.days {
  text-align: center;
}

.lineup {
  display: inline-block;
}

input, button {
  margin-left: 10px;
}

span {
  margin-left: 10px;
}

.current {
  width: 100%;
  text-align: center;
}

.current > img {
  width: 4%;
  height: auto;
}

.error {
  margin-left: 20px;
  color: red;
}

/* background color based on forecast */
.Snow {
  background-color: lightskyblue
}

.Clouds {
  background-color: lightgray
}

.Thunderstorm {
  background-color: darkgray
}

.Drizzle {
  background-color: lightblue
}

.Rain {
  background-color: blue
}

.Clear {
  background-color: transparent
}
